{% extends 'index.html' %}

{% block content %}
   {% if request.user.is_authenticated and request.user.id == post.user.id %}
      <a href="{% url 'posts:post_delete' post.user.id post.id%}"> Delete Tweet </a>|
      <a href="{% url 'posts:post_edit' post.user.id post.id %}"> Edit Tweet </a>
   {% endif %}
   <div class = "card bg-white text-dark">
      <p class="card-header"><h3>{{post.user }} | {{post.created|date}}</h3></p>
      <p class="card-body">
         {{post.body}}
      </p>
   </div>
   <p> This tweet has {{comment.count}} replies </p>

   {% if request.user.is_authenticated %}
    <a href = "{% url 'posts:post_like' post.id %}" class ="btn btn-primary {% if can_like %} disabled {%endif%} col-md-2"> Like {{ post.likes_count }}</a>
   {% endif %}

   {% if request.user.is_authenticated %}
   <form action="" }method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="reply" class="btn btn-primary">
   </form>
   {% endif %}

   {% for co in comment %}
    <div class="card bg-dark text-white">
       <p class="card-header"> {{co.user}}</p>
       <p class="card-body"> {{co.body}}</p>
       {% if request.user.is_authenticated %}
       <div class="card-body">
            <form action="{% url 'posts:add_reply' post.id co.id %}" method="post">
               {%csrf_token%}
            {{reply.as_p}}
            <input type="submit" value="Send">

            </form>
       </div>
       {% else %}
       <p> you have to login to send reply</p>
       {% endif %}
       {% for reply in co.rcomment.all %}
         <p class ="bg-primary text-white p-3 m-5"> {{reply.user}} <br/> {{reply.body}}</p>
       {% endfor %}
    </div>
    {% empty %}
    <div class="card bg-dark text-white">
      <p class="card-body"> No reply </p>
   </div>
   
 {% endfor %}
{% endblock %}